#SceneGroups {
  position : absolute;
  left : 0px;
  top : 0px;
  width : 960px;
  height : 540px;
  background-color : #000000
}

#SceneGroups #svecListbox_Groups {
  position : absolute;
  left : 50px;
  top : 70px;
  width : 470px
}

#SceneGroups #svecListbox_Members {
  position : absolute;
  left : 50px;
  top : 70px;
  width : 470px
}

#SceneGroups #svecKeyHelp_G2NM {
  position : absolute;
  left : 0px;
  top : 507px
}

#SceneGroups #svecDescription_GRPS {
  position : absolute;
  font-size : 12pt;
  color : #FFFFFF;
  left : 550px;
  top : 100px;
  width : 400px;
  height : 400px;
  overflow : auto
}
