#SceneUpcoming {
  position : absolute;
  left : 0px;
  top : 0px;
  width : 960px;
  height : 540px;
  background-color : #000000
}

#SceneUpcoming #svecListbox_N9NK {
  position : absolute;
  left : 50px;
  top : 70px;
  width : 470px
}

#SceneUpcoming #descriptionUpcoming {
  position : absolute;
  font-size : 12pt;
  color : #FFFFFF;
  left : 550px;
  top : 100px;
  width : 400px;
  height : 400px;
  overflow : auto
}

#SceneUpcoming #svecKeyHelp_Upcoming {
  position : absolute;
  left : 0px;
  top : 507px
}
