#SceneVideos {
  position : absolute;
  left : 0px;
  top : 0px;
  width : 960px;
  height : 540px;
  background-color : #000000
}

#SceneVideos #svecListbox_Videos {
  position : absolute;
  left : 50px;
  top : 70px;
  width : 470px
}

#SceneVideos #svecKeyHelp_O2VI {
  position : absolute;
  left : 0px;
  top : 507px
}

#SceneVideos #description_VI {
  position : absolute;
  font-size : 12pt;
  color : #FFFFFF;
  left : 550px;
  top : 100px;
  width : 400px;
  height : 400px;
  overflow : auto
}
