<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.samsung.com/">
  <ThumbIcon itemtype="string">icon/default_106.png</ThumbIcon>
  <BigThumbIcon itemtype="string">icon/default_115.png</BigThumbIcon>
  <ListIcon itemtype="string">icon/default_85.png</ListIcon>
  <BigListIcon itemtype="string">icon/default_95.png</BigListIcon>
  <category itemtype="string"/>
  <autoUpdate itemtype="boolean">n</autoUpdate>
  <cpname itemtype="string"/>
  <cplogo itemtype="string"/>
  <cpauthjs itemtype="string"/>
  <ver itemtype="string"/>
  <mgrver itemtype="string"/>
  <fullwidget itemtype="boolean">y</fullwidget>
  <srcctl itemtype="boolean">y</srcctl>
  <ticker itemtype="boolean">n</ticker>
  <childlock itemtype="boolean">n</childlock>
  <audiomute itemtype="boolean">n</audiomute>
  <videomute itemtype="boolean">n</videomute>
  <dcont itemtype="boolean">y</dcont>
  <type itemtype="string">user</type>
  <network itemtype="boolean">n</network>
  <widgetname itemtype="string">SmartMythTV</widgetname>
  <description itemtype="string"/>
  <width itemtype="number">960</width>
  <height itemtype="number">540</height>
  <author itemtype="group">
    <name itemtype="string">Andrew Bird</name>
    <email itemtype="string"/>
    <link itemtype="string">http://oliver.spheresystems.co.uk</link>
    <organization itemtype="string">Complete lack of</organization>
  </author>
</widget>
