img.scene-logo {
  position : absolute;
  left : 800px;
  top : 10px;
  width : 130px;
  height : 40px
}

h1.scene-title {
    position : absolute;
    left : 35px;
    top : 0px;

    color: LightBlue;
    font-family: arial, sans-serif;
    font-size: 28px;
    font-weight: normal
}

.sf-ui-scroll .sf-ui-scroll-body {
/*    color: #ffffff  seems to have no effect */
}

.sf-ui-scroll .sf-ui-scroll-bg {
/*    color: #ffffff;  seems to have no effect */
    background-color: #000000
}
